---
import { Icon } from 'astro-icon'
import moment from 'moment'

export interface Props {
  [index: string]: unknown
  platform: string
  title: string
  date: string
  url: string
}

const { platform, title, date, url } = Astro.props
---

<li class="card">
  <Icon
    class="card__icon"
    title={platform}
    aria-label={platform}
    name={`education/${platform.toLowerCase()}`}
    size={80}
  />
  <h3 class="card__title">
    Curso de {title}
  </h3>
  <span class="card__date" title={new Date(date).toDateString()}>
    {moment(date).fromNow()}
  </span>
  <p class="card__description">
    Terminé satisfactoriamente el curso de&nbsp;
    <strong>{title}</strong> de la plataforma
  </p>
  <a href={url} target="_blank" class="card__link">Certificado de estudio</a>
</li>

<style>
  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex-shrink: 0;

    padding-block: 2rem;
    padding-inline: 2rem;
    border-radius: 10px;
    width: 20rem;
    box-shadow: 0 0 5px var(--secondary-color);

    @media (max-width: 442px) {
      flex-basis: 13.65rem;
    }

    & .card__icon {
      margin-inline: auto;
    }

    & .card__title {
      color: var(--secondary-color);
    }

    & .card__date {
      font-weight: 300;
      font-size: 0.85rem;
    }

    & .card__description {
      margin-top: 2rem;
    }

    & .card__link {
      margin-top: 1rem;
      font-weight: 600;
      color: var(--primary-color) !important;
    }
  }
</style>
