---
import { Icon } from 'astro-icon'

export interface Props {
  [index: string]: unknown
  icon: string
  title: string
  description: string
  price: number
  options: string[]
}

const { icon, title, description, price, options } = Astro.props
---

<li class="card">
  <Icon name={`plan/${icon}`} size={100} class="card__icon" />
  <h3 class="card__title">{title}</h3>
  <p class="card__description">{description}</p>
  <strong class="card__price">${price}</strong>
  <hr class="card__separator" />

  <ul class="card__options">
    {
      options.map(option => (
        <li class="card__options__item">
          <Icon name="common/check" size={20} />
          {option}
        </li>
      ))
    }
  </ul>

  <a href="/contacto#formulario" class="card__link bloom">
    <Icon name="common/chat" size={22} />
    Me interesa
  </a>
</li>

<style>
  html.dark .card {
    & .card__icon,
    & .card__options > .card__options__item {
      color: var(--text-color);
    }
  }
  .card {
    --border-radius: 20px;

    padding: 2rem;
    box-shadow: 0 0 10px var(--secondary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-basis: 18rem;
    flex-flow: column nowrap;
    flex-shrink: 0;

    & .card__icon {
      margin-inline: auto;
      margin-bottom: 1rem;
      color: var(--secondary-color);
    }

    & .card__title {
      margin: 0;
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--secondary-color);
    }

    & .card__description {
      margin-bottom: 0;
    }

    & .card__separator {
      width: 100%;
    }

    & .card__price {
      margin-block: 1rem;
      color: var(--primary-color);
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
    }

    & .card__options {
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
      padding: 0;
      margin-top: 1rem;
      margin-bottom: 2rem;

      & .card__options__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 10px;
        color: var(--secondary-color);

        & svg {
          color: var(--primary-color);
          flex-shrink: 0;
          align-self: flex-start;
        }
      }
    }

    & .card__link {
      padding: 1rem;
      background-color: var(--primary-color) !important;
      color: white !important;
      font-weight: 600;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin: -2rem;
      margin-top: 0;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
</style>
