---
import { Image } from '@astrojs/image/components'
import { Icon } from 'astro-icon'
import { ProjectStatus } from 'components/client/ProjectStatus'

export interface Props {
  [index: string]: unknown
  name: string
  stack: string[]
  slug: string
  url: string
}

const { name, stack, slug, url } = Astro.props
---

<article class="card bloom">
  <Image
    class="card__image"
    src={`/images/projects/${slug}/1.webp`}
    alt={'Captura de pantaya del proyecto ' + name}
    width={500}
    height={300}
    quality={60}
    fit="cover"
    position="center"
    format="webp"
  />
  <div class="card__details">
    <a
      href={`/proyectos/${slug}`}
      aria-label={`Página del proyecto: ${slug}`}
      class="card__details__link"
    >
      <Icon name="common/search" size={70} />
    </a>
    <p class="card__details__technology">{stack[0]} / {stack[1]}</p>
    <h3 class="card__details__title">{name.toUpperCase()}</h3>
    <ProjectStatus url={url} size={0.75} client:visible />
  </div>
</article>

<style>
  .card {
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    height: 18.75rem;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
    min-width: 18.75rem;

    --opacity-transition: opacity 0.25s ease;
    --scale-transition: transform 0.4s ease-in-out;

    &:hover {
      transition: var(--opacity-transition), var(--scale-transition);

      & .card__image {
        transform: scale(1.18);
      }

      & .card__details {
        opacity: 1 !important;
      }
    }

    & .card__image {
      transition: var(--scale-transition);
    }

    & .card__details {
      --size: calc(100% -4rem);

      height: var(--size);
      width: var(--size);
      position: absolute;
      background-color: rgba(0, 0, 0, 0.47);
      color: white;
      padding: 2rem;
      bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      opacity: 0;

      transition: var(--opacity-transition);

      & .card__details__link {
        --transition: opacity 0.3s;

        margin: auto;
        margin-top: 5rem;
        color: white;
        transition: var(--transition) ease-out;

        &:hover {
          opacity: 0.5;
          transition: var(--transition) ease-in;
        }
      }

      & .card__details__technology {
        font-size: 0.8rem;
        font-weight: 300;
        color: var(--primary-color);
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;
      }

      & .card__details__title {
        font-size: larger;
        font-weight: 500;
        margin: 0;
      }
    }
  }
</style>
