---
import { Icon } from 'astro-icon'

export interface Props {
  [index: string]: string
  url: string
  icon: string
  name: string
}

const { url, icon, name } = Astro.props
---

<li class="card hovered">
  <a href={url} target="_blank">
    <Icon name={`technology/${icon}`} size={40} />
    {name}
  </a>
</li>

<style>
  .card {
    width: max-content;
    background-color: transparent !important;

    & a {
      --transition: box-shadow 0.2s linear;

      padding: 1.5rem;
      border-radius: 15px;

      display: inline-flex;
      align-items: center;
      flex-basis: max-content;
      gap: 10px;

      font-size: 1.2rem;
      font-weight: 600;
      color: var(--secondary-color);

      cursor: pointer;
      transition: var(--transition);
      border: 1px solid var(--secondary-color);
      box-shadow: 0 0 7px var(--primary-color);

      &:hover {
        background-color: var(--primary-color-opacity);
        box-shadow: 3px 3px 7px var(--primary-color);
        transition: var(--transition);
      }
    }
  }
</style>
