---
import { Icon } from 'astro-icon'
import Emoji from 'astro-emoji'

const socialNetworks = [
  {
    label: 'Gitlab',
    url: 'https://gitlab.com/cristianTalero',
  },
  {
    label: 'Github',
    url: 'https://github.com/cristianTalero',
  },
  {
    label: 'Linkedin',
    url: 'https://linkedin.com/in/cristian-talero',
  },
  {
    label: 'Whatsapp',
    url: 'https://wa.me/+573197592880',
  },
]
---

<footer class="footer">
  <ul class="footer__social">
    {
      socialNetworks.map(socialNetwork => (
        <li title={socialNetwork.label}>
          <a
            href={socialNetwork.url}
            aria-label={socialNetwork.label.toLowerCase()}
            class="footer__social__item"
            target="_blank"
          >
            <Icon
              name={`social/${socialNetwork.label.toLowerCase()}`}
              size={30}
            />
          </a>
        </li>
      ))
    }
  </ul>

  <article class="footer__contact">
    <h2 class="footer__contact__title">Contáctame</h2>
    <a href="mailto:contact@manlou.space" class="footer__contact__email">
      <Icon name="social/email" size={25} />
      Enviame un email
    </a>
  </article>
  <p class="footer__copyright">
    <em> Copyright &copy; Todos los derechos reservados</em>
    <br />
    <em>
      <Emoji symbol="❤" label="Orange hearth" />
      Creado por Cristian Talero con

      <a href="https://astro.build/" target="_blank">
        <Icon
          name="technology/astro"
          size={20}
          style="vertical-align: middle;"
        />
        <span style="color: var(--astrojs-color)">AstroJS</span>
      </a>
      y
      <a href="https://pages.cloudflare.com" target="_blank">
        <Icon
          name="technology/cloudflare"
          size={20}
          style="vertical-align: middle;"
        />
        <span style="color: #F4811F;">Cloudflare pages</span>
      </a>
    </em>
  </p>
</footer>

<script>
  //@ts-ignore
  window.sr = ScrollReveal({ reset: true })

  // @ts-ignore
  sr.reveal('.footer__social', {
    origin: 'left',
    duration: 1300,
    distance: '-50px',
  })
</script>

<style>
  .footer {
    --color: #909398;

    text-align: center;
    width: 100%;
    padding-block: 3rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & .footer__social {
      list-style: none;
      display: flex;
      gap: 12px;
      padding: 0;

      & .footer__social__item {
        --transition: color 0.2s;

        color: var(--color);
        background-color: #272c37;
        padding: 1rem;
        transition: var(--transition);
        border-radius: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: white;
          transition: var(--transition);
        }
      }
    }

    & .footer__contact {
      & .footer__contact__title {
        color: var(--color);
        letter-spacing: 2px;
        font-weight: 400;
      }

      & .footer__contact__email {
        display: flex;
        align-items: center;
        gap: 7px;
        color: var(--primary-color);
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 3.5rem;
      }
    }

    & .footer__copyright {
      color: #8a8d93;
      font-weight: 500;
      padding-inline: 1rem;

      & a {
        color: var(--primary-color);
      }
    }
  }
</style>
