---
import { Image } from '@astrojs/image/components'

type Page = {
  label: string
  path: string
}

export interface Props {
  currentPage: string
  pages: Page[]
}

const { currentPage, pages } = Astro.props

function isCurrentPage(path: string) {
  if (currentPage.toLowerCase() === path) return true

  return false
}
---

<header class="header">
  <img
    class="header__hero"
    src="/images/hero.webp"
    alt="Header hero"
    decoding="async"
  />
  <a href="/" class="header__brand" title="Inicio" aria-label="Inicio">
    <Image
      class="header__brand__photo"
      src="/images/me.webp"
      alt="Foto de Cristian Talero (Creador)"
      width={45}
      height={45}
      fit="cover"
      quality={50}
      format="webp"
    />
    <span class="header__brand__title">CRISTIAN</span>
  </a>
  <div class="header__nav">
    <nav>
      <ul class="header__nav__menu">
        {
          pages.map(page => (
            <li>
              <a
                href={`/${page.path}`}
                class:list={[
                  'header__nav__menu__item',
                  isCurrentPage(page.path)
                    ? 'header__nav__menu__item--active'
                    : 'header__nav__menu__item--disabled',
                ]}
              >
                {page.label.toUpperCase()}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <h1 class="header__nav__title">
      {currentPage ? currentPage : 'Inicio'}
    </h1>
  </div>
</header>

<script>
  //@ts-ignore
  window.sr = ScrollReveal({ reset: true })

  const defaultOptions = {
    duration: 1100,
    distance: '-100px',
  }

  // @ts-ignore
  sr.reveal('.header__brand', {
    origin: 'top',
    ...defaultOptions,
  })
  // @ts-ignore
  sr.reveal('.header__nav__menu', {
    origin: 'left',
    ...defaultOptions,
  })
</script>

<script>
  // Get title element
  const title = document.querySelector<HTMLElement>('.header__nav__title')

  // Verify if title element is not null
  if (title) {
    // Declare length of the title element content
    const titleLenght = title.innerText.length + 1

    // Add animation to title element
    title.style.width = `${titleLenght.toString()}ch`
    title.style.animation = `typing ${
      titleLenght / 10
    }s steps(${titleLenght}), blink .5s infinite step-end alternate`
  }
</script>

<style>
  .header {
    --drop-shadow: drop-shadow(2px 2px 4px var(--primary-color));

    width: 100%;
    height: 32rem;
    display: flex;
    padding: 4rem 0 2rem 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    & .header__hero {
      position: absolute;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 41rem;
      filter: blur(2px) grayscale(40%);
      -webkit-filter: blur(2px) grayscale(40%);
    }

    & .header__brand {
      --transition: background-color 0.4s linear;

      background-color: rgba(0, 0, 0, 0.47);
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      gap: 7px;
      align-items: center;
      transition: var(--transition);

      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
        transition: var(--transition);
      }

      & .header__brand__photo {
        border-radius: 100%;
        box-shadow: 1px 1px 8px black;
      }

      & .header__brand__title {
        color: white;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 3px;
        filter: var(--drop-shadow);
      }
    }

    & .header__nav {
      background-color: rgba(0, 0, 0, 0.75);
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-block: 2rem;
      margin-top: auto;

      & .header__nav__menu {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;

        & .header__nav__menu__item {
          --transiton: height 0.2s ease-in-out;

          position: relative;
          font-size: 0.75rem;
          color: var(--primary-color);
          font-weight: 600;
          filter: var(--drop-shadow);

          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            color: red;
            background-color: var(--primary-color);

            height: 2.5px;
            width: 100%;
            transition: var(--transiton);
          }

          &:hover::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 4px;
            width: 100%;
            transition: var(--transiton);
          }
        }

        & .header__nav__menu__item--active {
          opacity: 1;
        }

        & .header__nav__menu__item--disabled {
          opacity: 0.6;
        }
      }

      & .header__nav__title {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 2.3rem;
        padding-inline: 0px;
        font-weight: 400;
        color: white;
        max-width: max-content;
        letter-spacing: 3px;
        text-transform: capitalize;

        text-align: center;
        border-right: 0.15em solid var(--primary-color);
        overflow: hidden;
        white-space: nowrap;
        animation: blink 0.5s infinite step-end alternate;
      }
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
