---
import Icon from 'astro-icon'
import Layout from 'Layout.astro'
---

<Layout
  title="Página no encontrada"
  description="Lo siento, la página que estás buscando no se encontró. Por favor, utiliza el menú de navegación del sitio web para encontrar lo que estás buscando."
  og={{
    type: 'website',
  }}
>
  <main class="page">
    <Icon name="illustration/not-found" class="page__image" />
    <h2 class="page__title"><span>Página</span> no encontrada</h2>
    <a href="/" class="page__back bloom" aria-label="Inicio">
      <Icon name="common/back" size={25} />
      Volver al inicio
    </a>
  </main>
</Layout>

<style>
  .page {
    display: grid;
    place-items: center;

    & .page__image {
      width: 30rem;

      @media (max-width: 550px) {
        width: 20rem;
      }

      @media (max-width: 375px) {
        width: 12rem;
      }
    }

    & .page__title {
      font-size: 2.5rem;
      text-align: center;

      & span {
        background-color: var(--primary-color);
        color: var(--heading-text-color);
        padding: 0.5rem;
        border-radius: 20px;
        vertical-align: middle;
      }
    }

    & .page__back {
      padding: 1rem;
      border: 3px solid var(--text-color);
      color: var(--text-color);
      font-weight: 500;
      border-radius: 30px;
      margin-top: 2rem;

      & svg {
        vertical-align: middle;
      }
    }
  }
</style>
