---
import { Icon } from 'astro-icon'
import Layout from 'Layout.astro'
---

<Layout
  title="Contacto"
  description="Si tienes alguna pregunta o quieres ponerte en contacto conmigo, puedes utilizar el formulario de contacto o las redes sociales incluidas en la página."
  og={{
    type: 'website',
  }}
>
  <main class="page">
    <form
      id="formulario"
      class="page__form page__form--submitted"
      action="https://formspree.io/f/xnqyqalp"
      method="POST"
    >
      <h2 class="page__form__title">
        <a
          href="#formulario"
          title="Formulario de contacto"
          aria-label="Formulario de contacto"
        >
          <Icon name="section/contact-form" size={30} />
        </a>
        Contáctame
      </h2>
      <div class="page__form__group">
        <label for="name" class="page__form__group__label">Tú nombre</label>
        <input
          class="page__form__group__input"
          name="name"
          id="name"
          type="text"
          placeholder="Juan Pérez"
          autofocus
          required
          aria-required="true"
        />
      </div>
      <div class="page__form__group">
        <label for="email" class="page__form__group__label">Tú correo</label>
        <input
          class="page__form__group__input"
          name="email"
          id="email"
          type="email"
          placeholder="example@mail.co"
          required
          aria-required="true"
        />
      </div>
      <div class="page__form__group">
        <label for="message" class="page__form__group__label">Mensaje</label>
        <textarea
          class="page__form__group__input"
          name="message"
          id="message"
          rows="7"
          placeholder="Ej. Me llama la atención"
          required
          aria-required="true"></textarea>
      </div>
      <div class="page__form__captcha">
        <div
          class="g-recaptcha"
          data-sitekey="6LdRkLAjAAAAAPB04d3_yeT7QOYjj6HMSxJTUtWk"
          data-callback="onRecaptchaSuccess"
          data-expired-callback="setInvalidCaptcha"
          data-error-callback="setInvalidCaptcha"
        >
        </div>
        <span class="page__form__captcha__label" hidden aria-hidden="true">
          Completa el captcha!
        </span>
      </div>
      <hr class="page__form__separator" />
      <button class="page__form__submit bloom" type="submit">
        <Icon name="form/send" size={20} />
        Enviar Mensaje
      </button>
      <button class="page__form__reset bloom" type="reset">
        <Icon name="form/reset" size={20} />
        Reiniciar
      </button>
      <p class="page__form__helper">
        * Me enviará un email. Te responderé los mas rápido posible
      </p>
    </form>
  </main>
</Layout>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="module">
  // Get remote library
  import confetti from 'https://cdn.skypack.dev/canvas-confetti'

  // Get form and input elements
  const form = document.querySelector('form')
  const formButtons = document.querySelectorAll('form > button')

  // Function that remove class from the form for show invalid CSS rule only after click the submit button
  function removeInvalidFormClass() {
    form.classList.remove('page__form--submitted')
  }

  // Indicates is ReCaptcha is valid
  let isCaptchaValid = false
  window.setInvalidCaptcha = () => (isCaptchaValid = false)

  function hideInvalidCaptchaLabel() {
    invalidCaptchaLabel.setAttribute('hidden', 'true')
    invalidCaptchaLabel.setAttribute('aria-hidden', 'true')
  }

  // Function that valides ReCaptcha
  window.onRecaptchaSuccess = async token => {
    const response = await fetch('https://recaptcha.workers.manlou.space', {
      method: 'POST',
      body: JSON.stringify({ recaptcha: token }),
    })

    const gResponse = await response.json()
    hideInvalidCaptchaLabel()

    if (gResponse.success) {
      isCaptchaValid = true
      return
    }

    isCaptchaValid = false
  }

  // Invalid captcha label
  const invalidCaptchaLabel = document.querySelector(
    '.page__form__captcha__label'
  )

  // Function that removes unnecessaries spaces form a form field
  function validate(field) {
    let parsedField = field.trim()

    parsedField = parsedField.replace(' ', '<>')
    parsedField = parsedField.replace('><', '')
    parsedField = parsedField.replace('<>', ' ')

    return parsedField
  }

  // Call function on web start in client side
  removeInvalidFormClass()

  // Add invaid CSS class when submit button is clicked
  formButtons[0].addEventListener('click', () => {
    form.classList.add('page__form--submitted')
  })

  // Make message request to send
  form.addEventListener('submit', async e => {
    e.preventDefault()

    // If captcha is not completed
    if (!isCaptchaValid) {
      invalidCaptchaLabel.removeAttribute('hidden')
      invalidCaptchaLabel.setAttribute('aria-hidden', 'false')

      return false
    }

    const name = document.getElementById('name').value
    const email = document.getElementById('email').value
    const message = document.getElementById('message').value

    const formData = new FormData()
    formData.append('name', validate(name))
    formData.append('email', validate(email))
    formData.append('message', validate(message))

    // Prevent other submit actions when one is active
    formButtons.forEach(button => {
      button.setAttribute('disabled', 'true')
      button.setAttribute('aria-disabled', 'true')
    })

    // Block scroll while promise is resolved
    document.documentElement.style.overflow = 'hidden'

    // Make fetch
    await fetch('https://formspree.io/f/xnqyqalp', {
      method: 'POST',
      body: formData,
      headers: { Accept: 'application/json' },
    })

    // Show animation after fetch request
    confetti()

    // Reset form and remove invalid CSS class
    form.reset()
    removeInvalidFormClass()
    setInvalidCaptcha()
    hideInvalidCaptchaLabel()
    document.documentElement.style.overflow = 'auto'

    // Reset ReCaptcha
    grecaptcha.reset()

    // User let to make another request
    formButtons.forEach(button => {
      button.removeAttribute('disabled')
      button.removeAttribute('aria-disabled')
    })

    return true
  })
</script>

<style>
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0;

    & .page__form {
      --input-radius: 10px;

      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      gap: 1rem;
      scroll-margin-top: 1rem;

      padding-inline: 3rem;
      padding-block: 2rem;
      width: 30%;
      box-shadow: 1px 1px 10px var(--secondary-color);
      border-radius: 30px;

      &.page__form--submitted {
        & input:invalid,
        & textarea:invalid {
          border-color: red;
          outline-color: red;
        }
      }

      @media (max-width: 1700px) {
        width: 45%;
      }

      @media (max-width: 810px) {
        width: 65%;
        padding-inline: 1.5rem;
      }

      @media (max-width: 360px) {
        width: 80%;
      }

      & .page__form__title {
        margin: 0 0 1.5rem 0;
        color: var(--heading-text-color);
        font-weight: 900;
      }

      & .page__form__group {
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;

        & .page__form__group__label {
          font-weight: 600;
          color: var(--heading-text-color);

          &::after {
            content: ' *';
            color: red;
          }
        }

        & .page__form__group__input {
          resize: none;
          background-color: var(--card-color);
          padding: 0.6rem;
          border-radius: var(--input-radius);
          border: 1px solid var(--secondary-color-opacity);
          box-shadow: 1px 1px 7px var(--secondary-color-opacity);
          outline-color: var(--primary-color);

          &::placeholder {
            color: var(--text-color);
          }
        }
      }

      & .page__form__captcha {
        margin-inline: auto;

        & .page__form__captcha__label {
          font-size: small;
          color: red;
        }
      }

      & .page__form__separator {
        width: 100%;
      }

      & .page__form__submit {
        color: white;
        font-weight: 600;
        border: none;
        border-radius: var(--input-radius);
        background-color: var(--primary-color);
      }

      & .page__form__reset {
        font-weight: 600;
        border: 1px solid var(--primary-color);
        border-radius: var(--input-radius);
        color: var(--primary-color);
        background-color: transparent;

        &:hover {
          background-color: var(--primary-color-opacity);
        }
      }

      & button {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1rem;
      }

      & .page__form__helper {
        font-style: italic;
        text-align: center;
        font-weight: 400;
      }
    }
  }
</style>
