---
import Layout from 'Layout.astro'
import TechnologyCard from 'components/cards/TechnologyCard.astro'
import CourseCard from 'components/cards/CourseCard.astro'
import { Picture } from '@astrojs/image/components'
import { Icon } from 'astro-icon'
import skills from 'data/skills.json'
import courses from 'data/courses.json'
---

<Layout
  title="Inicio"
  description="Bienvenido a mi Portafolio. Aquí podrás encontrar información detallada sobre mi formación académica, experiencia laboral y habilidades profesionales."
  og={{
    type: 'profile',
  }}
>
  <main class="page">
    <section class="page__info" id="información">
      <Picture
        class="page__info__photo"
        src="/images/me.webp"
        alt="A photo of Cristian Talero"
        fit="cover"
        position="center"
        format="webp"
        quality={100}
        sizes="(max-width: 375px) 15rem, 20rem"
        widths={[270, 350]}
        aspectRatio="1:1"
      />
      <h2 class="page__info__title">
        <a href="#información" title="Información" aria-label="Información">
          <Icon name="section/information" size={30} />
        </a>
        Cristian Talero
      </h2>
      <h3 class="page__info__subtitle">
        Desarrollador <strong>web fullstack</strong> de Bogotá D.C, Colombia
        <Icon name="common/colombia" size={20} />
      </h3>
      <p class="page__info__description">
        Bienvenido a mi <strong>Portafolio</strong>. Aquí podrás encontrar
        información detallada sobre mi <strong>formación académica</strong>,
        <strong>experiencia laboral</strong> y
        <strong>habilidades profesionales</strong>. Mi nombre es Cristian Talero
        y soy <strong>Desarrollador web</strong>. Mi objetivo es encontrar una
        <strong>oportunidad de trabajo</strong> que me permita aplicar mis conocimientos
        y habilidades para contribuir al
        <strong>crecimiento y éxito de una empresa</strong>. Si estás interesado
        en contratarme o simplemente quieres conocer más sobre mi trayectoria,
        no dudes en explorar mi página y ponerte en <strong>contacto</strong> conmigo.
      </p>
      <a
        href="/docs/Curriculum.pdf"
        class="page__info__link bloom"
        aria-label="Curriculum en formato PDF"
        target="_blank"
      >
        <Icon name="common/link" size={20} />
        PDF
      </a>
    </section>
    <hr />
    <section class="page__experience" id="experiencia">
      <h2 class="page__experience__title">
        <a
          href="#experiencia"
          title="Experiencia profesional"
          style="color: white;"
          aria-label="Experiencia profesional"
        >
          <Icon name="section/experience" size={30} />
        </a>
        Experiencia profesional
      </h2>
      <p class="page__experience__description">Aun no :)</p>
    </section>

    <hr />
    <section class="page__skills" id="habilidades">
      <h2 class="page__skills__title">
        <a href="#habilidades" title="Habilidades" aria-label="Habilidades">
          <Icon name="section/skills" size={30} />
        </a>
        Habilidades
      </h2>
      <p class="page__skills__description">
        A continuación, algunas de las <strong>tecnologías</strong> que manejo y
        utilizo en mis proyectos:
      </p>
      <ul class="page__skills__list">
        {
          skills.map(skill => (
            <TechnologyCard
              url={skill.url}
              icon={skill.icon}
              name={skill.technology}
            />
          ))
        }
      </ul>
      <hr />
    </section>

    <section class="page__education" id="educación">
      <h2 class="page__education__title">
        <a href="#educación" title="Educación" aria-label="Educación">
          <Icon name="section/education" size={30} />
        </a>
        Educación
      </h2>
      <p class="page__education__description">
        A continuación, mi <strong>carrera profesional</strong> en curso Y algunos
        cursos que he realizado relacionados con el tema (Aunque la mayoría de mis
        conocimientos los he adquirido por
        <strong>práctica e investigación autodidacta</strong>):
      </p>
      <article class="page__education__university">
        <Icon name="education/cun" size={80} />
        <h3 class="page__education__university__title">
          Ingeniería de Sistemas
        </h3>
        <span class="page__education__university__date"
          >Febrero 2022 (Inicio) - Bogotá D.C, Colombia</span
        >
        <p class="page__education__university__description">
          Actualmente, me encuentro cursando el tercer semestre de la carrera de
          <strong>Ingeniería de Sistemas</strong> en la universidad mencionada anteriormente.
        </p>
        <a
          href="/docs/University.pdf"
          target="_blank"
          class="page__education__university__link">Certificado de estudio</a
        >
      </article>

      <ul class="page__education__courses">
        {
          courses.map(course => (
            <CourseCard
              platform={course.platform}
              title={course.title}
              date={course.date}
              url={course.url}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<script>
  //@ts-ignore
  window.sr = ScrollReveal({ reset: true })

  const defaultOptions = {
    duration: 900,
    distance: '-70px',
  }

  // @ts-ignore
  sr.reveal('#información', {
    origin: 'bottom',
    ...defaultOptions,
  })
  // @ts-ignore
  sr.reveal('#experiencia', {
    origin: 'top',
    ...defaultOptions,
  })
  // @ts-ignore
  sr.reveal('#habilidades', {
    origin: 'right',
    ...defaultOptions,
  })
  // @ts-ignore
  sr.reveal('#educación', {
    origin: 'left',
    ...defaultOptions,
  })

  // @ts-ignore
  sr.reveal('.page__education__courses', {
    origin: 'right',
    ...defaultOptions,
  })
</script>

<style>
  .page {
    & .page__info {
      scroll-margin-top: 1rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      & .page__info__photo {
        margin: auto;
        border-radius: 100%;
        outline: 2px solid var(--primary-color);
        box-shadow: 2px 2px 15px var(--primary-color);
      }

      & .page__info__title {
        margin-bottom: 10px;
        align-self: start;
      }

      & .page__info__subtitle {
        align-self: start;
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-top: 0;
        margin-bottom: 1rem;
      }

      & .page__info__description {
        align-self: start;
      }

      & .page__info__link {
        align-self: flex-start;
        padding-block: 0.7rem;
        padding-inline: 1.3rem;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        color: var(--primary-color);
        font-weight: 600;

        & svg {
          vertical-align: middle;
        }
      }
    }

    & .page__experience {
      margin-block: 1.5rem;
      margin-left: -1.7rem;
      margin-right: -1.7rem;
      padding-inline: 2rem;
      padding-block: 1rem;
      background-color: var(--primary-color);

      & .page__experience__title {
        color: white;
      }

      & .page__experience__description {
        color: white;
        font-weight: 100;
        font-size: 3.7rem;
        text-align: center;
      }
    }

    & .page__skills {
      scroll-margin-top: 1rem;

      & .page__skills__description {
        margin-bottom: 2rem;
      }

      & .page__skills__list {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: 655px) {
          height: 16rem;
          overflow-x: scroll;
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: repeat(autofill, auto);
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }

    & .page__education {
      scroll-margin-top: 1rem;

      & .page__education__university {
        border: 3px double var(--primary-color);
        padding: 2rem;
        border-radius: 20px;
        background-color: var(--primary-color-opacity);
        box-shadow: 1px 1px var(--primary-color);

        & .page__education__university__title {
          color: var(--heading-text-color);
        }

        & .page__education__university__date {
          font-weight: 300;
          color: var(--heading-text-color);
          font-size: 0.85rem;
        }

        & .page__education__university__description {
          margin-top: 2rem;
        }

        & .page__education__university__link {
          margin-top: 1rem;
          font-weight: 600;
          color: var(--primary-color);
        }
      }

      & .page__education__courses {
        padding-block: 2rem;
        padding-inline: 1rem;
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        align-items: baseline;
      }
    }
  }
</style>
