---
import { Icon } from 'astro-icon'
import PricingCard from 'components/cards/PricingCard.astro'
import Layout from 'Layout.astro'
import plans from 'data/plans.json'
---

<Layout
  title="Precios"
  description="Si estás interesado en contratar mis servicios profesionales, aquí encontrarás información detallada sobre mis tarifas para tu nuevo proyecto web."
  og={{
    type: 'website',
  }}
>
  <main class="page">
    <h2 class="page__title" id="planes">
      <a href="#planes" aria-label="Precios de los servicios">
        <Icon name="section/pricing" size={30} />
      </a>
      Precios&nbsp;
      <strong style="font-size:small ;">(De ejemplo)</strong>
    </h2>
    <p class="page__description">
      Bienvenido a la sección de <strong>precios</strong>. Si estás interesado
      en contratar mis <strong>servicios profesionales</strong>, aquí
      encontrarás información detallada sobre mis <strong>tarifas</strong> y
      <strong>paquetes</strong> disponibles. Mi objetivo es ofrecer una amplia gama
      de opciones asequibles para satisfacer las necesidades de diferentes
      <strong>clientes</strong> y <strong>proyectos</strong>. Si tienes alguna
      pregunta o necesitas un <strong>presupuesto personalizado</strong>, no
      dudes en ponerte en <strong>contacto</strong> conmigo. Estoy seguro de que
      podré ofrecerte la <strong>solución perfecta</strong> para tu
      <strong>empresa</strong> o <strong>proyecto</strong>.
    </p>
    <hr />

    <ul class="page__plans">
      {
        plans.map(plan => (
          <PricingCard
            icon={plan.icon}
            title={plan.title}
            description={plan.description}
            price={plan.price}
            options={plan.options}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .page {
    & .page__title {
      scroll-margin-top: 1rem;
    }

    & .page__plans {
      display: flex;
      margin-top: 3rem;
      flex-wrap: nowrap;
      gap: 2rem;
      align-items: baseline;
      justify-content: center;
      padding: 1rem;
      overflow-x: auto;

      @media (max-width: 1060px) {
        justify-content: flex-start;
      }
    }
  }
</style>
