---
import Footer from './components/layout/Footer.astro'
import Header from './components/layout/Header.astro'
import { SEO } from 'astro-seo'
import { ThemeToggle } from 'components/client/ThemeToggle'

type OpenGraph = {
  type: 'website' | 'article' | 'profile'
  image?: string
}

export interface Props {
  title: string
  description: string
  og: OpenGraph
}

const { title, description, og } = Astro.props

const pages = [
  { label: 'Inicio', path: '' },
  { label: 'Proyectos', path: 'proyectos' },
  { label: 'Precios', path: 'precios' },
  { label: 'Contacto', path: 'contacto' },
]

// Trailign slash
function currentPage() {
  const path = Astro.url.pathname

  if (import.meta.env.PROD) {
    return path.slice(1, -1)
  }

  return path.slice(1)
}

const SITE_NAME = "Cristian Talero's Portfolio"
const WEB = 'https://cv.manlou.space'
---

<!DOCTYPE html>
<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta name="robots" content="index,follow" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={`${title} | ${SITE_NAME}`}
      description={description}
      openGraph={{
        basic: {
          title,
          type: og.type,
          image: `${WEB}/images/${og.image ?? 'hero'}.webp`,
          url: `${WEB}/${currentPage()}`,
        },
        image: {
          alt: 'Website image',
          height: 300,
          width: 300,
        },
        optional: {
          description,
          siteName: SITE_NAME,
        },
      }}
      twitter={{
        creator: '@Ykristian_HD',
        card: 'summary',
        site: SITE_NAME,
      }}
    />

    <!-- ICONS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- ICONS -->

    <!-- FONT -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerPolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- FONT -->

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <script
      is:inline
      src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
    >
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme')
        }

        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }

        return 'light'
      })()

      const classList = document.documentElement.classList

      if (theme === 'light') classList.remove('light')
      else classList.add('dark')

      window.localStorage.setItem('theme', theme)
    </script>
  </head>
  <body>
    {
      pages.some(page => page.path === currentPage()) ? (
        <Header pages={pages} currentPage={currentPage()} />
      ) : null
    }
    <ThemeToggle client:only="preact" />
    <noscript>Activa Javascript para una experiencia completa!</noscript>
    <slot />
    <Footer />
    <style is:global>
      :root {
        --primary-color: #18be8e;
        --primary-color-opacity: #18be8e20;
        --secondary-color: #1b212c;
        --secondary-color-opacity: #35495e;
        --astrojs-color: #ff5d01;
      }

      /* Theme */
      html {
        --background-color: #f6f6f6;
        --heading-text-color: rgb(56, 56, 56);
        --text-color: #7a7b7c;
        --card-color: var(--background-color);
      }

      html.dark {
        --background-color: #2c2e30;
        --heading-text-color: white;
        --text-color: #bebcbc;
        --card-color: rgb(95, 94, 94);

        & .card > a,
        & .card {
          background-color: rgb(25, 25, 25);
          color: var(--text-color);

          & .card__title {
            color: var(--heading-text-color);
          }
        }
      }
      /* Theme */

      * {
        -webkit-tap-highlight-color: transparent;
      }

      html {
        scroll-behavior: smooth;
        font-family: 'Montserrat', sans-serif;
        background-color: var(--background-color);
        overflow-x: hidden;

        & body {
          overflow-x: hidden;

          & noscript {
            background-color: var(--primary-color);
            color: white;
            padding-bottom: 0.7rem;
            padding-inline: 3rem;
            vertical-align: middle;
            font-weight: 600;
          }

          & main {
            padding-block: 5rem;
            padding-inline: 1.7rem;
          }

          & h1,
          & h2 {
            font-size: 1.8rem;
            font-weight: 500;
            color: var(--heading-text-color);

            & a {
              color: var(--primary-color);
              vertical-align: middle;
            }
          }

          & p {
            color: var(--text-color);
            line-height: 30px;
            font-weight: 500;
          }

          & .bloom {
            --transition: box-shadow 0.4s ease;

            transition: var(--transition);

            &:hover {
              box-shadow: 1px 1px 10px var(--primary-color) !important;
              transition: var(--transition);
            }
          }

          & a {
            text-decoration: none;
          }

          & ul,
          & li,
          & menu,
          & ol {
            list-style: none;
          }
        }
      }
    </style>
  </body>
</html>
