---
import { Icon } from 'astro-icon'
import Layout from 'Layout.astro'
import projects from 'data/projects.json'
import { readdir } from 'node:fs/promises'
import { ProjectStatus } from 'components/client/ProjectStatus'
import { Image } from '@astrojs/image/components'

// eslint-disable-next-line no-unused-vars
interface Props {
  url: string
}

export function getStaticPaths() {
  return projects.map(project => ({
    params: { slug: project.slug },
    props: project,
  }))
}

const { slug } = Astro.params
const { name, description, app_url, repo_url, stack, dev } = Astro.props

const images = await readdir(`public/images/projects/${slug}`)

function getImageUrl(index: number) {
  return `/images/projects/${slug}/${index + 1}.webp`
}
---

<Layout
  title={name}
  description={description}
  og={{
    type: 'article',
    image: `/projects/${slug}/0`,
  }}
>
  {
    dev ? (
      <div class="dev" style="margin-top: 0;">
        En desarrollo
      </div>
    ) : null
  }
  <main class="page">
    <Icon name="illustration/developer" class="page__image" size={250} />
    <ProjectStatus url={app_url} size={1.5} client:only="preact" />
    <h1 class="page__title">Proyecto <code>{name}</code></h1>
    <p class="page__description" set:html={description} />
    <div class="page__links">
      <a href={repo_url} target="_blank" class="page__links__repo bloom">
        <Icon name="social/gitlab" size={22} />
        Repositorio
      </a>
      <a href={app_url} target="_blank" class="page__links__prod bloom">
        <Icon name="common/link" size={22} />
        Aplicación
      </a>
    </div>

    <section class="page__stack" id="tecnologías">
      <h2 class="page__stack__title">
        <a href="#tecnologías">
          <Icon name="section/skills" size={22} />
        </a>
        Tecnologías
      </h2>
      <ul class="page__stack__list">
        {
          stack.map((item: string) => (
            <li class="page__stack__list__item">
              <Icon name={`technology/${item.toLowerCase()}`} size={40} />
              {item}
            </li>
          ))
        }
      </ul>
    </section>

    <hr class="page__divider" />

    <h2 id="capturas">
      <a href="#capturas">
        <Icon name="section/captures" size={22} />
      </a>
      Capturas
    </h2>
    <section class="page__grid">
      {
        images.map((_, index) => (
          <a
            href={getImageUrl(index)}
            target="_blank"
            class="page__grid__image bloom"
            onclick="showImageAlert(event)"
          >
            <Image
              src={getImageUrl(index)}
              alt="test image"
              width={500}
              height={300}
            />
          </a>
        ))
      }
    </section>
    <a href="/proyectos#lista" class="page__back bloom">
      <Icon name="common/back" size={25} />
      Volver a proyectos
    </a>
  </main>
</Layout>

<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.all.min.js"
  integrity="sha256-b+fVEXPbYTCRvyFMiFsP3TAaUr7X3fbvPaPg5JqwsDw="
  crossorigin="anonymous"
></script>

<script is:inline>
  function showImageAlert(event) {
    event.preventDefault()

    Swal.fire({
      imageUrl: event.target.src,
      imageWidth: 500,
      imageHeight: 300,
      imageAlt: event.target.alt,
      confirmButtonText: 'Vale',
      customClass: 'sweetalert',
    })
  }
</script>

<style>
  .dev {
    text-align: center;
    margin-top: 2rem;
    background-color: #a52a26;
    color: white;
    padding-block: 0.7rem;
    font-weight: 600;
  }

  .page {
    display: grid;
    place-items: center;

    & .page__image {
      width: 30rem;
      margin-bottom: 1rem;

      @media (max-width: 550px) {
        width: 20rem;
      }

      @media (max-width: 375px) {
        width: 12rem;
      }
    }

    & .page__title {
      font-size: 2.5rem;
      text-align: center;

      & code {
        background-color: var(--primary-color);
        padding: 0.5rem;
        border-radius: 20px;
        vertical-align: middle;
      }
    }

    & .page__links {
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;

      & .page__links__repo {
        background-color: transparent;
      }

      & .page__links__prod {
        border: 2px solid var(--primary-color);
      }

      & a {
        color: var(--primary-color);
        padding: 1rem;
        border-radius: 10px;
        font-weight: 600;
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
      }
    }

    & .page__stack {
      background-color: var(--secondary-color);
      width: 100%;
      padding: 2rem;
      color: whitesmoke;
      overflow-x: auto;

      & .page__stack__title {
        text-align: center;
        font-weight: 400;
        color: var(--primary-color);
      }

      & .page__stack__list {
        display: flex;
        flex-wrap: wrap;
        scroll-margin-top: 2rem;
        justify-content: center;
        gap: 1.2rem;

        & .page__stack__list__item {
          display: flex;
          align-items: center;
          gap: 7px;
          font-weight: 600;
        }

        @media (max-width: 655px) {
          overflow-x: auto;
          display: grid;
          grid-auto-flow: column;
          grid-template-rows: repeat(2, 1fr);
          justify-content: start;
          height: 12rem;
        }
      }
    }

    & .page__divider {
      width: 100%;
      margin-block: 2rem;
    }

    & .page__grid {
      width: 100%;
      display: flex;
      overflow-x: auto;
      gap: 1rem;
      padding: 1rem;

      & .page__grid__image {
        box-shadow: 0 0 4px var(--secondary-color-opacity);
      }
    }

    & .page__back {
      padding: 1rem;
      border: 3px solid var(--text-color);
      color: var(--text-color);
      font-weight: 500;
      border-radius: 30px;
      margin-top: 2rem;

      & svg {
        vertical-align: middle;
      }
    }
  }
</style>
