---
import { Icon } from 'astro-icon'
import ProjectCard from 'components/cards/ProjectCard.astro'
import Layout from 'Layout.astro'
import projects from 'data/projects.json'
---

<Layout
  title="Proyectos"
  description="Aquí podrás encontrar información sobre algunos proyectos en los que he trabajado. Si quieres conocer más, no dudes en ponerte en contacto conmigo."
  og={{
    type: 'website',
  }}
>
  <main class="page">
    <h2 class="page__title" id="lista">
      <a href="#lista" aria-label="Lista de proyectos">
        <Icon name="section/projects" size={25} />
      </a>
      Mis proyectos
    </h2>
    <p class="page__description">
      Bienvenido a la sección de <strong>proyectos</strong>. Aquí podrás
      encontrar <strong>información detallada</strong> sobre algunos de los proyectos
      en los que he trabajado a lo largo de mi carrera profesional. Mi objetivo es
      mostrarte mi <strong>experiencia</strong> y <strong>habilidades</strong> a
      través de proyectos concretos y relevantes para mi
      <strong>área de especialización</strong>. Si tienes alguna
      <strong>pregunta</strong> o quieres conocer más sobre mis proyectos, no dudes
      en ponerte en contacto conmigo.
    </p>

    <hr />

    <section class="page__projects">
      {
        projects.map(project => (
          <ProjectCard
            name={project.name}
            stack={project.stack}
            slug={project.slug}
            url={project.app_url}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  .page {
    & .page__title {
      scroll-margin-top: 1rem;
    }

    & .page__projects {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 2em;
      padding-block: 2em;
    }
  }
</style>
